<mat-card class="p-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Documentos Extraídos</h2>
    <button mat-flat-button color="primary" >Agregar Registro</button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">

    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let item">{{ item.id }}</td>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let item">{{ item.nombre }}</td>
    </ng-container>

    <!-- DNI -->
    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef>DNI</th>
      <td mat-cell *matCellDef="let item">{{ item.dni }}</td>
    </ng-container>

    <!-- Código -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let item">{{ item.codigo }}</td>
    </ng-container>

    <!-- Asunto -->
    <ng-container matColumnDef="asunto">
      <th mat-header-cell *matHeaderCellDef>Asunto</th>
      <td mat-cell *matCellDef="let item">{{ item.asunto }}</td>
    </ng-container>

    <!-- Identificador -->
    <ng-container matColumnDef="identificador">
      <th mat-header-cell *matHeaderCellDef>Identificador</th>
      <td mat-cell *matCellDef="let item">{{ item.identificador }}</td>
    </ng-container>

    <!-- Nombre Documento -->
    <ng-container matColumnDef="nombreDocumento">
      <th mat-header-cell *matHeaderCellDef>Nombre Documento</th>
      <td mat-cell *matCellDef="let item">{{ item.nombreDocumento }}</td>
    </ng-container>

    <!-- Documento PDF -->
    <ng-container matColumnDef="documentoPDF">
      <th mat-header-cell *matHeaderCellDef>PDF</th>
      <td mat-cell *matCellDef="let item">

      </td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button color="primary" >
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="eliminar(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- FILAS -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</mat-card>
