@use '@angular/material' as mat;

// Definir el tema directamente usando el sistema de variables CSS
html {
  --mat-primary: #3f51b5;  // Azul (Indigo)
  --mat-accent: #e91e63;   // Rosa (Pink)

  // Este es el tema global para el proyecto
  --mat-sys-surface: #ffffff;
  --mat-sys-on-surface: #000000;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}
