<h2 mat-dialog-title>{{ form.value.id ? 'Editar Persona' : 'Nueva Persona' }}</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field class="w-100">
    <mat-label>Nombres</mat-label>
    <input matInput formControlName="nombres" />
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Apellidos</mat-label>
    <input matInput formControlName="apellidos" />
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>DNI</mat-label>
    <input matInput formControlName="dni" />
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Dirección</mat-label>
    <input matInput formControlName="direccion" />
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Teléfono</mat-label>
    <input matInput formControlName="telefono" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="guardar()">Guardar</button>
</mat-dialog-actions>
